@use "../../utility/flex" as flex;
@use "../../utility/responsive" as responsive;
@use "../../utility/position" as position;
@use "../../utility/align" as align;
@use "../../utility/rem" as rem;
@use "../../utility/font" as font;

.c-table__wrapper {
  display: flex;
  width: 900px;
}

.c-table__list {
  width: calc(100% / 3);
}

.c-bgc--gray {
  background-color: gray;
}
